body{
    background-color: coral;
    font-size: 16px;
    font-family: "karla";

}
h1{ 
    font-size: 16px;
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    position: relative;
    left: 40px;
    top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .greentitle{
      color: hsl(71, 73%, 54%);
      font-weight: 400;
      position: relative;
      left: 40px;
     bottom: -70px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .container{
      background-color: #ffffff;
      width: 375px;
      height: 700px;
      border-radius: 7px;
      margin-top: 120px;
      margin-left: 372px;
      
  }
  .firstbox{
      background-color: #ffffff;
      border-radius: 7px 7px 0px 0px;
      height: 240px;
      width: 375px;
  }
.thirdbox{
    background-color:hsl(179, 62%, 50%);
    border-radius: 0px 0px 7px 7px;
    width: 375px;
    height: 230px;
    position: relative;
    bottom: -210px;
}
.secondbox{
    background-color:hsl(179, 62%, 43%);
    border-radius: 0px 0px 0px 0px;
    width: 375px;
    height: 230px;
    position: relative;
    bottom: 263px;

}
button{
    background-color:hsl(71, 73%, 54%) ;
    color: hsl(204, 43%, 93%);
    border-radius: 7px;
    border-style: none ;
    width: 295px;
    height: 40px;
    position: relative;
    bottom: -25px;
    left: 40px;
    
}
.subscription{
    color: hsl(204, 43%, 93%);
    font-size: 16px;
}
.price{
    color: hsl(204, 43%, 93%);
    font-size: 16px;
    position: relative;
    left: 40px;
    bottom: -40px;
    font-weight: 700;
}
.monthly{
    color: hsl(179, 85%, 84%) ;
    position: relative;
    left: 107px;
    bottom: -15px;
}
.description{
    color: hsl(204, 43%, 93%);
    position: relative;
    left: 40px;
    bottom: -15px;
    
}
h2{
    color:hsl(204, 43%, 93%) ;
    position: relative;
    top: 20px;
    left: 30px;
}
.explanation{
    color:hsl(179, 85%, 84%) ;
    height: 150px;
    width: 375px;
    font-weight: 400;
    position: relative;  
    top: 20px;  
    left: 30px;
}
p{
    color: hsl(218, 22%, 67%);
    position: relative;
    left: 40px;
    bottom: -80px;
}
  